doctype html
html
   head
      title Users Index
      meta(charset='utf-8')
      link(href="/css/bootstrap.css" rel="stylesheet")
      link(href="/css/styles.css" rel="stylesheet")
      script(src="/js/scripts.js")
   body
      include header
      block main
      include footer